Repository RyansOpenSourceRice/overlay-companion-mcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: dotnet-format, check-build-scripts-executable, check-workflow-syntax, check-npm-cache-config, cspell

dotnet-format:
  name: dotnet-format
  entry: bash -c 'cd src && dotnet format --verbosity minimal'
  language: system
  pass_filenames: false

check-build-scripts-executable:
  name: Check build scripts are executable
  entry: bash -c 'for script in scripts/*.sh; do [ -x "$script" ] || { echo "‚ùå $script is not executable. Run chmod +x $script"; exit 1; }; done'
  language: system
  pass_filenames: false

check-workflow-syntax:
  name: Check GitHub Actions workflow syntax
  entry: python3 -c "import yaml, sys; [yaml.safe_load(open(f)) for f in sys.argv[1:]]"
  language: system

check-npm-cache-config:
  name: Check for npm cache configuration issues
  entry: bash -c 'if grep -r "cache.*npm" .github/workflows/ && ! find . -name "package*.json" -type f | grep -q .; then echo "‚ùå npm cache configured but no package.json found"; exit 1; fi'
  language: system
  pass_filenames: false

cspell:
  name: cspell
  entry: cspell
  language: system
  args:
  - --no-progress

chore: update tasks tracker
  .openhands/TASKS.md
Due: cspell

refactor(infra): restore infra web/server; remove Guacamole-only pieces
  infra/server/.eslintrc-security.json
  infra/server/connection-manager.js
  infra/server/package.json
  infra/server/security-config.js
  infra/server/server.js
  infra/web/package.json
  infra/web/src/app.js
  infra/web/src/components/.openhands/TASKS.md
  infra/web/src/components/KasmVNCClient.js
  infra/web/src/components/MCPConfigManager.js
  infra/web/src/components/OverlaySystem.js
  infra/web/src/components/StatusMonitor.js
  infra/web/src/index.html
  infra/web/src/index.js
  infra/web/src/styles/.openhands/TASKS.md
  infra/web/webpack.config.js
Due: cspell

chore(infra/server): remove guacamole keyword from package.json
  infra/server/package.json
Due: none

revert: restore previously removed files for migration (exclude opentofu)
  DEPLOYMENT-old.md
  DEPRECATION_NOTICE.md
  README-old.md
  UPDATES.md
  chore-web-only-alignment.patch
  host-setup.sh
  infra/Caddyfile
  infra/README.md
  infra/podman-compose.yml
  infra/scripts/guac-init.sh
  infra/server/.openhands/TASKS.md
  infra/web/.openhands/TASKS.md
  infra/web/src/components/GuacamoleClient.js
  infra/web/src/styles/main.css
  release/containers/Dockerfile.management
  release/containers/Dockerfile.unified
  release/containers/podman-compose.yml
  release/containers/server/.openhands/TASKS.md
  release/containers/server/middleware/security.js
  release/containers/server/package.json
  release/containers/server/server.js
  release/containers/web/package.json
  release/containers/web/src/components/GuacamoleClient.js
  release/containers/web/src/components/MCPConfigManager.js
  release/containers/web/src/components/OverlaySystem.js
  release/containers/web/src/components/StatusMonitor.js
  release/containers/web/src/index.html
  release/containers/web/src/index.js
  release/containers/web/src/styles/main.css
  release/containers/web/webpack.config.js
  release/install.sh
  src/wwwroot/index.html
  vm-setup.sh
Due: cspell

feat(compose): compat-first migration - add KasmVNC and keep Guacamole via profiles
  infra/podman-compose.yml
  release/containers/podman-compose.yml
Due: none

refactor(compose): remove legacy Guacamole stack entirely; default external port 6080 for KasmVNC
  infra/kasmvnc-compose.yml
  infra/podman-compose.yml
  release/containers/podman-compose.yml
Due: none

feat(flatpak): add minimal GTK GUI for Clipboard Bridge; make GUI default command; update desktop entry
  .github/workflows/container-registry.yml
  flatpak/clipboard-bridge/clipboard-bridge-gui.py
  flatpak/clipboard-bridge/clipboard-bridge.py
  flatpak/clipboard-bridge/org.overlaycompanion.ClipboardBridge.desktop
  flatpak/clipboard-bridge/org.overlaycompanion.ClipboardBridge.yml
  release/containers/Dockerfile.management
  release/containers/server/server.js
Due: check-workflow-syntax, check-npm-cache-config

chore(release-compose): remove unused GUACAMOLE_URL env chore(caddy): proxy KasmVNC under /vnc and /vnc-api; remove Guacamole routes
  infra/Caddyfile
  release/containers/podman-compose.yml
Due: none

chore: UI proxied /vnc; flatpak CI timeouts; lint fixes (flake8)
  .github/workflows/container-registry.yml
  .github/workflows/flatpak-clipboard-bridge.yml
  .openhands/TASKS.md
  CREDENTIAL_ANALYSIS.md
  cspell.json
  flatpak/clipboard-bridge/clipboard-bridge-gui.py
  flatpak/clipboard-bridge/clipboard-bridge.py
  infra/server/server.js
  infra/web/src/app.js
Due: check-workflow-syntax, check-npm-cache-config, cspell

docs: add cspell words for overlaycompanion and xsel to pass spellcheck
  .cspell.json
  .openhands/TASKS.md
Due: cspell

Replace repository contents with new version from zip (AUG31st)
  .github/workflows/flatpak-clipboard-bridge.yml
  .gitignore
  .openhands/TASKS.md
  docs/CLIPBOARD_BRIDGE.md
  flatpak/clipboard-bridge/clipboard-bridge-gui.py
  flatpak/clipboard-bridge/org.overlaycompanion.ClipboardBridge.yml
Due: check-workflow-syntax, check-npm-cache-config, cspell

Apply pre-commit fixes after installing toolchain\n\nCo-authored-by: openhands <openhands@all-hands.dev>
  flatpak/clipboard-bridge/clipboard-bridge-gui.py
Due: none

chore(infra/server): add cspell and eslint devDependencies for local linting and pre-commit stability\n\nCo-authored-by: openhands <openhands@all-hands.dev>
  infra/server/package.json
Due: none

chore(pre-commit): prefer repo-local cspell, fallback to global install
  .pre-commit-config.yaml
Due: none

chore(pre-commit): add local cspell & eslint dev deps; prefer local cspell in hooks; fix eslint-plugin-security version\n\nCo-authored-by: openhands <openhands@all-hands.dev>
  infra/server/package.json
Due: none

ci: add GitHub Action to run npm ci in infra/server and run pre-commit
  .github/workflows/precommit-node.yml
Due: check-workflow-syntax, check-npm-cache-config

chore(cspell): add repo cspell config to ignore legacy/partial markdown files\n\nCo-authored-by: openhands <openhands@all-hands.dev>
  .cspell.json
Due: none

ci(flatpak): add workflow to build clipboard-bridge Flatpak on push/PR
  .github/workflows/flatpak-build.yml
Due: check-workflow-syntax, check-npm-cache-config

ci(precommit): fall back to npm install when no lockfile present
  .github/workflows/precommit-node.yml
Due: check-workflow-syntax, check-npm-cache-config

ci: only upload Trivy SARIF when output exists (avoid upload-sarif error)
  .github/workflows/container-registry.yml
Due: check-workflow-syntax, check-npm-cache-config

ci(trivy): ensure image refs use lowercase repository names to satisfy registry parsers
  .github/workflows/container-registry.yml
Due: check-workflow-syntax, check-npm-cache-config

ci(trivy): check/pull image with retries and skip Trivy if image unavailable
  .github/workflows/container-registry.yml
Due: check-workflow-syntax, check-npm-cache-config

ci(trivy): upload artifact when Trivy skipped due to missing image (trivy-skip)
  .github/workflows/container-registry.yml
Due: check-workflow-syntax, check-npm-cache-config

docs(ci): PR summary for Trivy image-check changes
  .github/PR_SUMMARY_CI_TRIVY.md
Due: cspell

chore(pre-commit): fix cspell hook entry quoting and exec usage
  .pre-commit-config.yaml
Due: none

chore(cspell): expand project dictionary with common technical terms
  .cspell.json
Due: none

chore(cspell): add more domain-specific words (xvfb, libs, Flatpak, etc.)
  .cspell.json
Due: none

chore(cspell): add Silverblue, Semgrep, & other remaining words
  .cspell.json
Due: none

test(smoke): add local smoke test script to run/pull containers and print logs for copy/paste
  infra/local_smoke_test.sh
Due: none

test(smoke): auto-select free host ports when not provided; support .env/.env.smoke overrides
  infra/local_smoke_test.sh
Due: none

test(smoke): repair and clean local_smoke_test.sh; auto-port selection and .env support
  infra/local_smoke_test.sh
Due: none

docs: consolidate and prune markdown files
  .openhands/TASKS.md
  APPIMAGE_VALIDATION_FIXES.md
  ARCHITECTURE.md
  DEPLOYMENT-old.md
  DEPLOYMENT.md
  IMPLEMENTATION_SUMMARY.md
  MCP_COMMUNICATION_ANALYSIS.md
  MCP_KASMVNC_INTEGRATION_DESIGN.md
  MCP_SPECIFICATION.md
  PORT_CONFIGURATION.md
  README-old.md
  ROADMAP.md
  SECURITY.md
  SECURITY_FIXES.md
  SPECIFICATION.md
  SPECIFICATION_OLD.md
  UPDATES.md
  WEB_UI_CREDENTIAL_MANAGEMENT.md
  docs/DEVELOPMENT_SETUP.md
  docs/GUI_THREADING_BEST_PRACTICES.md
  docs/IMPLEMENTATION_GUIDE.md
  docs/SDK_INTEGRATION_SUMMARY.md
  flatpak/clipboard-bridge/.openhands/TASKS.md
  gtk4-proof-of-concept/.openhands/TASKS.md
  infra/.openhands/TASKS.md
  infra/server/.openhands/TASKS.md
  infra/web/.openhands/TASKS.md
  infra/web/src/components/.openhands/TASKS.md
  infra/web/src/styles/.openhands/TASKS.md
  release/containers/server/.openhands/TASKS.md
  src/.openhands/TASKS.md
  temp/AI_RECOVERY_GUIDE.md
  temp/CONTINUATION_README.md
  temp/RECOVERY_README.md
  tests/ai-gui/.openhands/TASKS.md
Due: cspell

docs: lint markdown and add/refresh TOCs for consolidated docs
  ARCHITECTURE.md
  DEPLOYMENT.md
  ROADMAP.md
  SECURITY.md
  SPECIFICATION.md
  docs/DEVELOPMENT_SETUP.md
  docs/IMPLEMENTATION_GUIDE.md
Due: cspell

docs: fix MD051 link-fragments by regenerating TOCs with GitHub-style slugs
  ARCHITECTURE.md
  SECURITY.md
  SPECIFICATION.md
  docs/IMPLEMENTATION_GUIDE.md
Due: cspell

docs: suppress MD051 in TOCs and add cspell dictionary entries (tocstop, OpenWebUI, KasmVNC, etc)
  ARCHITECTURE.md
  DEPLOYMENT.md
  SECURITY.md
  SPECIFICATION.md
  docs/DEVELOPMENT_SETUP.md
  docs/IMPLEMENTATION_GUIDE.md
Due: cspell

Add comprehensive GUI testing suite for headless environments
  tests/COMPREHENSIVE_TEST_REPORT.md
  tests/GUI_TEST_REPORT.md
  tests/README.md
  tests/TESTING_SUMMARY_FOR_USER.md
  tests/TEST_REPORT.md
  tests/VM_TESTING_RESEARCH.md
  tests/test_gui_overlays.py
  tests/test_gui_stdio.py
  tests/test_gui_streamable_http.py
Due: cspell

Add comprehensive UX/UI testing guide for non-technical users
  tests/UX_UI_TESTING_GUIDE.md
Due: cspell

Rewrite README for clarity and user-friendliness
  README.md
Due: cspell

Path conditions:
  dotnet-format: any of: \.(cs|csproj)$
  check-build-scripts-executable: any of: ^scripts/.*\.sh$
  check-workflow-syntax: any of: ^\.github/workflows/.*\.ya?ml$
  check-npm-cache-config: any of: ^\.github/workflows/.*\.ya?ml$
  cspell: any of: \.md$
