Repository RyansOpenSourceRice/overlay-companion-mcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: dotnet-format, check-build-scripts-executable, check-workflow-syntax, check-npm-cache-config, cspell

dotnet-format:
  name: dotnet-format
  entry: bash -c 'cd src && dotnet format --verbosity minimal'
  language: system
  pass_filenames: false

check-build-scripts-executable:
  name: Check build scripts are executable
  entry: bash -c 'for script in scripts/*.sh; do [ -x "$script" ] || { echo "‚ùå $script is not executable. Run chmod +x $script"; exit 1; }; done'
  language: system
  pass_filenames: false

check-workflow-syntax:
  name: Check GitHub Actions workflow syntax
  entry: python3 -c "import yaml, sys; [yaml.safe_load(open(f)) for f in sys.argv[1:]]"
  language: system

check-npm-cache-config:
  name: Check for npm cache configuration issues
  entry: bash -c 'if grep -r "cache.*npm" .github/workflows/ && ! find . -name "package*.json" -type f | grep -q .; then echo "‚ùå npm cache configured but no package.json found"; exit 1; fi'
  language: system
  pass_filenames: false

cspell:
  name: cspell
  entry: cspell
  language: system
  args:
  - --no-progress

Add comprehensive AppImage validation documentation
  .github/workflows/build-appimage.yml
  APPIMAGE_VALIDATION_FIXES.md
  gtk4-proof-of-concept/ClickThroughOverlay.cs
  gtk4-proof-of-concept/Gtk4ProofOfConcept.csproj
  gtk4-proof-of-concept/SimpleProgram.cs
  scripts/validate-appimage.sh
  src/Program.cs
  src/UI/Gtk4MainWindow.cs
  src/UI/Gtk4OverlayApplication.cs
  src/UI/Gtk4OverlayWindow.cs
  src/UI/Gtk4Stubs.cs
  src/UI/MockOverlayWindow.cs
  tests/local-appimage-smoke.sh
Due: dotnet-format, check-build-scripts-executable, check-workflow-syntax, check-npm-cache-config, cspell

Fix critical error detection in integration tests
  .github/workflows/ci-cd.yml
Due: check-workflow-syntax, check-npm-cache-config

Fix CI tests to use headless mode - root cause identified!
  .github/workflows/ci-cd.yml
Due: check-workflow-syntax, check-npm-cache-config

Fix CI test validation and AppImage validation script
  .github/workflows/ci-cd.yml
  scripts/validate-appimage-old.sh
  scripts/validate-appimage.sh
Due: check-build-scripts-executable, check-workflow-syntax, check-npm-cache-config

Fix AppImage validation path issue
  .github/workflows/build-appimage.yml
  scripts/validate-appimage.sh
Due: check-build-scripts-executable, check-workflow-syntax, check-npm-cache-config

Reduce AppImage build verbosity for cleaner CI logs
  scripts/build-appimage.sh
Due: check-build-scripts-executable

Fix GTK4 library bundling and remove duplicate AppImage builds
  .github/workflows/ci-cd.yml
  scripts/build-appimage.sh
Due: check-build-scripts-executable, check-workflow-syntax, check-npm-cache-config

Reduce CI logging verbosity for cleaner output
  .github/workflows/build-appimage.yml
  .github/workflows/ci-cd.yml
Due: check-workflow-syntax, check-npm-cache-config

Fix GTK4 application lifecycle warning
  src/UI/Gtk4MainWindow.cs
  src/UI/Gtk4OverlayApplication.cs
Due: dotnet-format

Add comprehensive timeouts to prevent CI time waste
  .github/workflows/build-appimage.yml
Due: check-workflow-syntax, check-npm-cache-config

feat: Add comprehensive timeouts to all GitHub Actions workflows
  .github/workflows/ci-cd.yml
  .github/workflows/csharp-lint.yml
  .github/workflows/markdown-lint.yml
  .github/workflows/merge-ready.yml
  .github/workflows/python-lint.yml
  SPECIFICATION.md
Due: check-workflow-syntax, check-npm-cache-config, cspell

fix: Remove pip cache from python-lint.yml workflow
  .github/workflows/python-lint.yml
Due: check-workflow-syntax, check-npm-cache-config

feat: Improve AppImage icon integration for better desktop support
  scripts/build-appimage.sh
Due: check-build-scripts-executable

Fix GTK4 overlay implementation with fullscreen positioning
  .openhands/TASKS.md
  packages-microsoft-prod.deb
  src/UI/Gtk4MainWindow.cs
  src/UI/Gtk4OverlayWindow.cs
Due: dotnet-format, cspell

Fix build errors: permissions and nullable warning
  .github/workflows/build-appimage.yml
  src/UI/Gtk4OverlayWindow.cs
Due: dotnet-format, check-workflow-syntax, check-npm-cache-config

Fix duplicate release title in GitHub releases
  .github/workflows/build-appimage.yml
Due: check-workflow-syntax, check-npm-cache-config

Add MCP configuration endpoints and web UI for better UX
  src/Program.cs
Due: dotnet-format

Update README with new configuration endpoints documentation
  README.md
Due: cspell

Fix build errors and add GUI configuration dialog
  .github/workflows/build-appimage.yml
  .github/workflows/ci-cd.yml
  .openhands/TASKS.md
  MCP_SPECIFICATION.md
  README.md
  SPECIFICATION.md
  docs/IMPLEMENTATION_GUIDE.md
  docs/SDK_INTEGRATION_SUMMARY.md
  src/.openhands/TASKS.md
  src/MCP/OverlayCompanionMcpService.cs
  src/Program.cs
  src/UI/Gtk4MainWindow.cs
Due: dotnet-format, check-workflow-syntax, check-npm-cache-config, cspell

Add server log files to .gitignore
  .gitignore
Due: none

feat: Add AppImage automatic updates with AppImageUpdate support
  .github/workflows/build-appimage.yml
  README.md
  scripts/build-appimage.sh
  src/.openhands/TASKS.md
  src/Program.cs
  src/Services/UpdateService.cs
  src/UI/Gtk4MainWindow.cs
Due: dotnet-format, check-build-scripts-executable, check-workflow-syntax, check-npm-cache-config, cspell

fix: Implement proper GUI threading to prevent app freezing
  docs/GUI_THREADING_BEST_PRACTICES.md
  src/Services/UpdateService.cs
  src/UI/Gtk4MainWindow.cs
Due: dotnet-format, cspell

fix: Correct MCP JSON configuration format for HTTP transport
  MCP_SPECIFICATION.md
  README.md
  src/Program.cs
Due: dotnet-format, cspell

fix: Improve UpdateService error handling and diagnostics
  docs/GEARLEVER_INTEGRATION.md
  src/Services/UpdateService.cs
  src/UI/Gtk4MainWindow.cs
Due: dotnet-format, cspell

Batch overlay methods now preserve overlay properties by using DrawOverlayAsync(OverlayElement). Co-authored-by: openhands <openhands@all-hands.dev>
  src/Services/OverlayService.cs
Due: dotnet-format

Color parsing: support hex (#RRGGBB/#RRGGBBAA/#RGB) and respect overlay opacity; keep named color fallback. Co-authored-by: openhands <openhands@all-hands.dev>
  .openhands/TASKS.md
  src/UI/Gtk4OverlayWindow.cs
Due: dotnet-format, cspell

Wayland click-through robustness: add fallback empty rectangle region if Cairo.Region() default ctor not available; minor log. Co-authored-by: openhands <openhands@all-hands.dev>
  src/UI/Gtk4OverlayWindow.cs
Due: dotnet-format

MCP: add get_overlay_capabilities tool so AI can discover opacity support, color formats, and click-through capability. Co-authored-by: openhands <openhands@all-hands.dev>
  src/MCP/Tools/GetOverlayCapabilitiesTool.cs
Due: dotnet-format

Docs/spec: include opacity param (default 0.5) for draw_overlay and batch_overlay; add fields click_through and monitor_index to batch overlays. Co-authored-by: openhands <openhands@all-hands.dev>
  SPECIFICATION.md
Due: cspell

UI: list get_overlay_capabilities tool in MCP tab. Co-authored-by: openhands <openhands@all-hands.dev>
  src/UI/Gtk4MainWindow.cs
Due: dotnet-format

MCP: get_overlay_capabilities now reports uses_layer_shell based on runtime availability. Co-authored-by: openhands <openhands@all-hands.dev>
  src/MCP/Tools/GetOverlayCapabilitiesTool.cs
Due: dotnet-format

Wayland: select monitor for layer-shell using reflection to avoid hard GIR dependency; keep fallback. Co-authored-by: openhands <openhands@all-hands.dev>
  src/UI/Gtk4OverlayWindow.cs
Due: dotnet-format

Demo overlay: fill primary monitor at 50% opacity to make click-through obvious. Co-authored-by: openhands <openhands@all-hands.dev>
  src/UI/Gtk4MainWindow.cs
Due: dotnet-format

Fix CI build: use Cairo.Region.Create/CreateRectangle to build empty region; add null-guards on _window usage. Co-authored-by: openhands <openhands@all-hands.dev>
  src/UI/Gtk4OverlayWindow.cs
Due: dotnet-format

Guard window events with null checks; ensure fallback fullscreen path is safe under stubs. Co-authored-by: openhands <openhands@all-hands.dev>
  src/UI/Gtk4OverlayWindow.cs
Due: dotnet-format

Fix build: use surface.SetInputRegion(null) for click-through (portable across GirCore bindings); remove usage of Region.Create/CreateRectangle. Co-authored-by: openhands <openhands@all-hands.dev>
  src/UI/Gtk4OverlayWindow.cs
Due: dotnet-format

web(viewer): harden click‑through semantics; add border radius and explicit pointer‑events none\n\nCo-authored-by: openhands <openhands@all-hands.dev>
  src/wwwroot/index.html
Due: none

chore(gitignore): ignore OpenTofu generated files and state in deploy/opentofu
  .gitignore
Due: none

docs(spec): replace legacy spec with concise web‑first spec; remove outdated sections\n\nCo-authored-by: openhands <openhands@all-hands.dev>
  SPECIFICATION.md
Due: cspell

docs(mcp-spec): condense to web‑first transport and tool surface; remove outdated sections\n\nCo-authored-by: openhands <openhands@all-hands.dev>
  MCP_SPECIFICATION.md
Due: cspell

Path conditions:
  dotnet-format: any of: \.(cs|csproj)$
  check-build-scripts-executable: any of: ^scripts/.*\.sh$
  check-workflow-syntax: any of: ^\.github/workflows/.*\.ya?ml$
  check-npm-cache-config: any of: ^\.github/workflows/.*\.ya?ml$
  cspell: any of: \.md$
