Repository RyansOpenSourceRice/overlay-companion-mcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: dotnet-format, check-build-scripts-executable, check-workflow-syntax, check-npm-cache-config, cspell

dotnet-format:
  name: dotnet-format
  entry: bash -c 'cd src && dotnet format --verbosity minimal'
  language: system
  pass_filenames: false

check-build-scripts-executable:
  name: Check build scripts are executable
  entry: bash -c 'for script in scripts/*.sh; do [ -x "$script" ] || { echo "‚ùå $script is not executable. Run chmod +x $script"; exit 1; }; done'
  language: system
  pass_filenames: false

check-workflow-syntax:
  name: Check GitHub Actions workflow syntax
  entry: python3 -c "import yaml, sys; [yaml.safe_load(open(f)) for f in sys.argv[1:]]"
  language: system

check-npm-cache-config:
  name: Check for npm cache configuration issues
  entry: bash -c 'if grep -r "cache.*npm" .github/workflows/ && ! find . -name "package*.json" -type f | grep -q .; then echo "‚ùå npm cache configured but no package.json found"; exit 1; fi'
  language: system
  pass_filenames: false

cspell:
  name: cspell
  entry: cspell
  language: system
  args:
  - --no-progress

feat(viewer): handle sync_state on connect and redraw all current overlays\n\nCo-authored-by: openhands <openhands@all-hands.dev>
  src/wwwroot/index.html
Due: none

feat(server): add /api/test-overlay for manual/CI verification of overlay broadcast; viewer already click-through\n\nCo-authored-by: openhands <openhands@all-hands.dev>
  src/Program.cs
Due: dotnet-format

feat(server): allow PORT/OC_PORT override for HTTP listener
  .openhands/TASKS.md
  src/Program.cs
Due: dotnet-format, cspell

Docs: remove GTK4/Avalonia references; clarify web-only UX. Update tags and headless HTTP guidance.\n\nCo-authored-by: openhands <openhands@all-hands.dev>
  README.md
Due: cspell

Docs: simplify Troubleshooting; remove obsolete GUI/Avalonia notes; reinforce HTTP root usage.\n\nCo-authored-by: openhands <openhands@all-hands.dev>
  README.md
Due: cspell

docs(infra): add backend-first infrastructure plan and next steps\n\nCo-authored-by: openhands <openhands@all-hands.dev>
  infra/README.md
Due: cspell

infra(podman): add podman-compose stack with caddy, mcp, guacd, guacamole, postgres + Dockerfile.mcp and Caddyfile\n\nCo-authored-by: openhands <openhands@all-hands.dev>
  infra/Caddyfile
  infra/Dockerfile.mcp
  infra/podman-compose.yml
Due: none

feat(viewer): add optional Guacamole iframe at /guac; keep overlay layers above it and pointer-events none\n\nCo-authored-by: openhands <openhands@all-hands.dev>
  src/wwwroot/index.html
Due: none

feat(infra): auto-provision Guacamole RDP connection via REST (guac-init container + env vars); remove MySQL-specific var\n\nCo-authored-by: openhands <openhands@all-hands.dev>
  infra/README.md
  infra/podman-compose.yml
  infra/scripts/guac-init.sh
Due: cspell

fix(infra): Caddy rewrite /guac/* -> /guacamole/* so guacamole-common-js + HTTPTunnel('/guac/tunnel') work\n\nCo-authored-by: openhands <openhands@all-hands.dev>
  infra/Caddyfile
Due: none

feat(infra): initialize Guacamole Postgres schema automatically (guac-db-init) before provisioning connection\n\nCo-authored-by: openhands <openhands@all-hands.dev>
  infra/podman-compose.yml
Due: none

fix(web): load guacamole-common-js synchronously and remove iframe after connection; better resize/scale logic\n\nCo-authored-by: openhands <openhands@all-hands.dev>
  src/wwwroot/index.html
Due: none

feat(viewer): browser-driven sizing – viewport sets VM display size via sendSize; overlays recompute transforms to match\n\nCo-authored-by: openhands <openhands@all-hands.dev>
  infra/README.md
  src/wwwroot/index.html
Due: cspell

Update task status: all merge conflict resolution tasks completed
  .openhands/TASKS.md
Due: cspell

Remove Python cache files and update .gitignore
  .gitignore
  tests/ai-gui/drivers/__pycache__/mcp_raw_json.cpython-312.pyc
  tests/ai-gui/verifier/__pycache__/image_checks.cpython-312.pyc
Due: none

feat: add simple installation and deployment options
  DEPLOYMENT.md
  Dockerfile
  README.md
  docker-compose.yml
  install.sh
Due: cspell

fix: update deployment guide for existing Podman infrastructure
  DEPLOYMENT.md
  Dockerfile
  docker-compose.yml
Due: cspell

chore(ci): disable AppImage builds for single-user dev release
  .github/workflows/build-appimage.yml
Due: check-workflow-syntax, check-npm-cache-config

docs: update architecture for OpenTofu + Podman + VM deployment
  ARCHITECTURE.md
  SPECIFICATION.md
Due: cspell

feat: complete lightweight release package implementation
  .github/workflows/release-package.yml
  .gitignore
  .openhands/TASKS.md
  release/containers/Dockerfile.management
  release/containers/scripts/healthcheck.sh
  release/containers/server/package.json
  release/containers/server/server.js
  release/containers/web/package.json
  release/containers/web/src/components/GuacamoleClient.js
  release/containers/web/src/components/MCPConfigManager.js
  release/containers/web/src/components/OverlaySystem.js
  release/containers/web/src/components/StatusMonitor.js
  release/containers/web/src/index.html
  release/containers/web/src/index.js
  release/containers/web/src/styles/main.css
  release/containers/web/webpack.config.js
  release/install.sh
  release/opentofu/main.tf
  release/opentofu/modules/fedora-vm/main.tf
  release/opentofu/modules/fedora-vm/outputs.tf
  release/opentofu/modules/fedora-vm/variables.tf
  release/opentofu/modules/fedora-vm/vm-metadata.xsl
  release/opentofu/modules/management-container/main.tf
  release/opentofu/modules/management-container/outputs.tf
  release/opentofu/modules/management-container/variables.tf
  release/opentofu/modules/networking/main.tf
  release/opentofu/modules/networking/outputs.tf
  release/opentofu/modules/networking/variables.tf
  release/opentofu/outputs.tf
  release/opentofu/variables.tf
Due: check-workflow-syntax, check-npm-cache-config, cspell

feat: add update mode, fix GitHub Actions permissions, containerize C# MCP server
  .github/workflows/release-package.yml
  release/containers/Dockerfile.mcp-server
  release/containers/server/server.js
  release/install.sh
  release/opentofu/modules/management-container/main.tf
Due: check-workflow-syntax, check-npm-cache-config

docs: add comprehensive updates documentation
  UPDATES.md
Due: cspell

hotfix: update Fedora Silverblue ISO URL to version 41
  release/install.sh
Due: none

Fix architecture: separate HOST containers from VM targets
  DEPLOYMENT-old.md
  DEPLOYMENT.md
  README-old.md
  README.md
  host-setup.sh
  vm-setup.sh
Due: cspell

Simplify architecture: unified container + user-managed VMs
  DEPLOYMENT.md
  README.md
  release/containers/Dockerfile.unified
  release/containers/podman-compose.yml
  release/install.sh
  release/opentofu/variables.tf
  setup.sh
Due: cspell

Correct container architecture: keep database and Guacamole separate
  DEPLOYMENT.md
  README.md
  release/containers/Dockerfile.unified
  release/containers/podman-compose.yml
  setup.sh
Due: cspell

fix: resolve OpenTofu destroy provisioner reference errors
  release/opentofu/modules/fedora-vm/main.tf
  release/opentofu/modules/management-container/main.tf
  release/opentofu/modules/networking/main.tf
Due: none

Switch to simplified container approach using infra/ directory
  host-setup.sh
Due: none

Fix: Extract custom overlay web interface to separate container
  .gitignore
  host-setup.sh
  infra/Caddyfile
  infra/Dockerfile.web
  infra/podman-compose.yml
  infra/server/package.json
  infra/server/server.js
  infra/web/package.json
  infra/web/src/components/GuacamoleClient.js
  infra/web/src/components/MCPConfigManager.js
  infra/web/src/components/OverlaySystem.js
  infra/web/src/components/StatusMonitor.js
  infra/web/src/index.html
  infra/web/src/index.js
  infra/web/src/styles/main.css
  infra/web/webpack.config.js
Due: none

Complete secure credential generation and configurable ports implementation
  .gitignore
  .openhands/TASKS.md
  DEPLOYMENT.md
  MCP_SPECIFICATION.md
  README.md
  SPECIFICATION.md
  host-setup.sh
  infra/.openhands/TASKS.md
  infra/podman-compose.yml
  release/containers/Dockerfile.unified
  release/containers/web/package.json
Due: cspell

Fix security vulnerabilities identified by CodeQL
  infra/server/package.json
  infra/server/server.js
  infra/web/package.json
  infra/web/src/components/GuacamoleClient.js
  infra/web/src/index.js
Due: none

Add GitHub Container Registry automation with date-based versioning
  .github/workflows/cleanup-containers.yml
  .github/workflows/container-registry.yml
  .openhands/TASKS.md
  README.md
  docs/GITHUB_CONTAINER_REGISTRY.md
  infra/server/.openhands/TASKS.md
  infra/web/.openhands/TASKS.md
Due: check-workflow-syntax, check-npm-cache-config, cspell

Fix GitHub Actions container build issues
  .dockerignore
  .github/workflows/cleanup-containers.yml
  .github/workflows/container-registry.yml
  infra/Dockerfile.web
Due: check-workflow-syntax, check-npm-cache-config

Fix spell check and Docker build issues
  .cspell.json
  infra/Dockerfile.web
Due: none

Fix Docker build issues and update specifications
  SPECIFICATION.md
  infra/Dockerfile.web
Due: cspell

Fix server npm ci command in Dockerfile.web
  infra/Dockerfile.web
Due: none

Fix Trivy security scanner image tag references
  .github/workflows/container-registry.yml
Due: check-workflow-syntax, check-npm-cache-config

Replace Guacamole with KasmVNC for simplified multi-monitor support
  .openhands/TASKS.md
  README.md
  docs/MULTI_MONITOR_SETUP.md
  host-setup-kasmvnc.sh
  infra/Caddyfile.kasmvnc
  infra/Dockerfile.kasmvnc
  infra/kasmvnc-compose.yml
  infra/kasmvnc-config/kasmvnc.yaml
  infra/scripts/kasmvnc-init.sh
  infra/web/src/components/KasmVNCClient.js
  infra/web/src/index.js
  vm-setup-kasmvnc.sh
Due: cspell

Path conditions:
  dotnet-format: any of: \.(cs|csproj)$
  check-build-scripts-executable: any of: ^scripts/.*\.sh$
  check-workflow-syntax: any of: ^\.github/workflows/.*\.ya?ml$
  check-npm-cache-config: any of: ^\.github/workflows/.*\.ya?ml$
  cspell: any of: \.md$
