Repository RyansOpenSourceRice/overlay-companion-mcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: dotnet-format, check-build-scripts-executable, check-workflow-syntax, check-npm-cache-config, cspell

.pre-commit-config.yaml:

# Pre-commit configuration for Overlay Companion MCP
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Python formatting and linting
  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        language_version: python3
        files: \.py$

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        files: \.py$
        args: ["--profile", "black"]

  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        files: \.py$
        args: ["--max-line-length=88", "--extend-ignore=E203,W503"]

  - repo: https://github.com/pycqa/bandit
    rev: 1.7.5
    hooks:
      - id: bandit
        files: \.py$
        args: ["-r", ".", "-f", "json"]
        exclude: ^tests/

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: \.md$
      - id: end-of-file-fixer
        exclude: \.md$
      - id: check-yaml
        files: \.(yaml|yml)$
      - id: check-json
        files: \.json$
      - id: check-toml
        files: \.toml$
      - id: check-xml
        files: \.xml$
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: detect-private-key

  # C# formatting (if dotnet-format is available)
  - repo: local
    hooks:
      - id: dotnet-format
        name: dotnet-format
        entry: bash -c 'cd src && dotnet format --verbosity minimal'
        language: system
        files: \.(cs|csproj)$
        pass_filenames: false

      # AppImage and build validation
      - id: check-build-scripts-executable
        name: Check build scripts are executable
        entry: bash -c 'for script in scripts/*.sh; do [ -x "$script" ] || { echo "‚ùå $script is not executable. Run chmod +x $script"; exit 1; }; done'
        language: system
        files: ^scripts/.*\.sh$
        pass_filenames: false

      - id: validate-appimage-if-exists
        name: Validate AppImage if exists
        entry: bash -c 'if ls build/*.AppImage 1> /dev/null 2>&1; then echo "üîç Found AppImage, running validation..."; ./scripts/validate-appimage.sh build/*.AppImage; else echo "‚ÑπÔ∏è  No AppImage found, skipping validation"; fi'
        language: system
        pass_filenames: false
        always_run: true

      - id: check-workflow-syntax
        name: Check GitHub Actions workflow syntax
        entry: python3 -c "import yaml, sys; [yaml.safe_load(open(f)) for f in sys.argv[1:]]"
        language: system
        files: ^\.github/workflows/.*\.ya?ml$

      - id: check-npm-cache-config
        name: Check for npm cache configuration issues
        entry: bash -c 'if grep -r "cache.*npm" .github/workflows/ && ! find . -name "package*.json" -type f | grep -q .; then echo "‚ùå npm cache configured but no package.json found"; exit 1; fi'
        language: system
        files: ^\.github/workflows/.*\.ya?ml$
        pass_filenames: false

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.38.0
    hooks:
      - id: markdownlint
        files: \.md$
        args: ["--fix"]

  # Spell checking
  - repo: local
    hooks:
      - id: cspell
        name: cspell
        entry: cspell
        language: system
        files: \.md$
        args: ["--no-progress"]

  # Security scanning
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        exclude: \.lock$|\.min\.js$|\.min\.css$

  # Git commit message linting
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.0.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [feat, fix, docs, style, refactor, test, chore, ci]

Fix secrets detection issues
  infra/podman-compose.yml
  release/containers/podman-compose.yml
  release/opentofu/modules/management-container/main.tf
Due: none

Mark Guacamole architecture as deprecated
  .openhands/TASKS.md
  DEPRECATION_NOTICE.md
  README.md
  host-setup.sh
  infra/podman-compose.yml
  infra/web/src/components/GuacamoleClient.js
  release/containers/podman-compose.yml
  release/containers/web/src/index.js
  release/opentofu/main.tf
  vm-setup.sh
Due: cspell

Implement WebSocket communication between C# MCP server and KasmVNC
  .openhands/TASKS.md
  CREDENTIAL_ANALYSIS.md
  MCP_COMMUNICATION_ANALYSIS.md
  MCP_KASMVNC_INTEGRATION_DESIGN.md
  infra/server/server.js
  src/MCP/Tools/CreateOverlayTool.cs
  src/MCP/Tools/GetDisplayInfoTool.cs
  src/Program.cs
  src/Services/KasmVNCService.cs
Due: dotnet-format, cspell

Add comprehensive implementation summary
  IMPLEMENTATION_SUMMARY.md
Due: cspell

Implement comprehensive web UI with secure credential management
  infra/server/connection-manager.js
  infra/server/server.js
  infra/web/src/app.js
  infra/web/src/components/.openhands/TASKS.md
  infra/web/src/components/KasmVNCClient.js
  infra/web/src/index.html
  infra/web/src/index.js
  infra/web/src/styles/.openhands/TASKS.md
  infra/web/src/styles/main.css
Due: cspell

Add comprehensive documentation for web UI credential management
  WEB_UI_CREDENTIAL_MANAGEMENT.md
Due: cspell

🔒 CRITICAL SECURITY FIX: Resolve SSRF vulnerabilities in connection manager
  SECURITY_FIXES.md
  infra/server/connection-manager.js
  infra/server/security-config.js
  infra/server/server.js
Due: cspell

🔧 FIX: Resolve C# compilation errors and enhance SSRF security
  infra/server/connection-manager.js
  src/MCP/Tools/CreateOverlayTool.cs
  src/MCP/Tools/CreateOverlayTool_old.cs
Due: dotnet-format

🧹 CLEANUP: Remove old CreateOverlayTool backup file
  src/MCP/Tools/CreateOverlayTool_old.cs
Due: dotnet-format

Potential fix for code scanning alert no. 30: Server-side request forgery
  infra/server/connection-manager.js
  infra/server/package.json
Due: none

Fix critical C# compilation errors and markdown linting issues
  .openhands/TASKS.md
  infra/VM_SETUP.md
  infra/web/src/components/.openhands/TASKS.md
  infra/web/src/styles/.openhands/TASKS.md
  src/MCP/Tools/CreateOverlayTool.cs
  src/MCP/Tools/GetDisplayInfoTool.cs
Due: dotnet-format, cspell

Fix spelling check: Add KasmVNC related terms to dictionary
  .cspell.json
Due: none

Potential fix for code scanning alert no. 33: Server-side request forgery
  infra/server/connection-manager.js
  infra/server/server.js
Due: none

CRITICAL SECURITY FIX: Address CodeQL SSRF and format string vulnerabilities
  infra/server/connection-manager.js
Due: none

CRITICAL SECURITY FIX: Comprehensive SSRF protection with POST method and host sanitization
  infra/server/connection-manager.js
Due: none

docs: Update security documentation with POST method SSRF fixes
  SECURITY_FIXES.md
Due: cspell

feat: Add CodeQL-like security analysis to pre-commit checks
  .pre-commit-config.yaml
  SPECIFICATION.md
  infra/server/.eslintrc-security.json
  infra/server/connection-manager.js
  infra/server/server.js
Due: cspell

fix: Add allowlist/blocklist to spell check dictionary
  .cspell.json
  host-setup.sh
  infra/podman-compose.yml
  infra/server/.eslintrc-security.json
  infra/server/connection-manager.js
  infra/server/security-config.js
  infra/server/server.js
  infra/web/src/app.js
  infra/web/src/components/GuacamoleClient.js
  infra/web/src/components/KasmVNCClient.js
  infra/web/src/index.html
  infra/web/src/index.js
  infra/web/src/styles/main.css
  release/containers/podman-compose.yml
  release/containers/web/src/index.js
  release/opentofu/main.tf
  src/MCP/Tools/CreateOverlayTool.cs
  src/MCP/Tools/GetDisplayInfoTool.cs
  src/MCP/Tools/GetOverlayCapabilitiesTool.cs
  src/Program.cs
  src/Services/KasmVNCService.cs
  vm-setup.sh
Due: dotnet-format

docs: Add comprehensive pre-commit hooks documentation
  SPECIFICATION.md
Due: cspell

docs: Update architecture documentation to reflect KasmVNC migration
  ARCHITECTURE.md
  DEPLOYMENT.md
  MCP_SPECIFICATION.md
Due: cspell

Potential fix for code scanning alert no. 34: Use of externally-controlled format string
  infra/server/connection-manager.js
Due: none

security: Fix missing permissions in GitHub Actions workflows
  .github/workflows/ci-cd.yml
  .github/workflows/cold-storage/README.md
  .github/workflows/cold-storage/build-appimage.yml
  .github/workflows/csharp-lint.yml
  .github/workflows/markdown-lint.yml
  .github/workflows/merge-ready.yml
  .github/workflows/python-lint.yml
Due: check-workflow-syntax, check-npm-cache-config, cspell

feat: Add optional Flatpak clipboard bridge for VM clipboard synchronization
  .openhands/TASKS.md
  README.md
  flatpak/clipboard-bridge/README.md
  flatpak/clipboard-bridge/build.sh
  flatpak/clipboard-bridge/clipboard-bridge.py
  flatpak/clipboard-bridge/org.overlaycompanion.ClipboardBridge.desktop
  flatpak/clipboard-bridge/org.overlaycompanion.ClipboardBridge.svg
  flatpak/clipboard-bridge/org.overlaycompanion.ClipboardBridge.yml
  scripts/vm-setup/install-clipboard-bridge.sh
  src/MCP/Tools/GetClipboardBridgeStatusTool.cs
  src/MCP/Tools/GetClipboardTool.cs
  src/MCP/Tools/SetClipboardTool.cs
  src/Program.cs
  src/Services/ClipboardBridgeService.cs
  src/appsettings.json
Due: dotnet-format, check-build-scripts-executable, cspell

feat: Make clipboard bridge settings configurable through web interface
  .openhands/TASKS.md
  README.md
  flatpak/clipboard-bridge/README.md
  src/MCP/Tools/GetClipboardBridgeStatusTool.cs
  src/Program.cs
  src/Services/ClipboardBridgeService.cs
  src/Services/SettingsService.cs
  src/appsettings.json
Due: dotnet-format, cspell

fix: Resolve compilation errors and apply code formatting
  flatpak/clipboard-bridge/.openhands/TASKS.md
  flatpak/clipboard-bridge/clipboard-bridge.py
  flatpak/clipboard-bridge/org.overlaycompanion.ClipboardBridge.yml
  packages-microsoft-prod.deb
  src/MCP/Tools/GetClipboardBridgeStatusTool.cs
  src/Program.cs
  src/Services/ClipboardBridgeService.cs
  src/Services/SettingsService.cs
Due: dotnet-format, cspell

feat: Add auto-dependency installation to pre-commit hooks
  .pre-commit-config.yaml
  cspell.json
  flatpak/clipboard-bridge/README.md
  flatpak/clipboard-bridge/build.sh
  flatpak/clipboard-bridge/org.overlaycompanion.ClipboardBridge.desktop
  flatpak/clipboard-bridge/org.overlaycompanion.ClipboardBridge.svg
  scripts/vm-setup/install-clipboard-bridge.sh
Due: check-build-scripts-executable, cspell

fix: Resolve GitHub Actions container registry workflow issues
  .github/workflows/container-registry.yml
Due: check-workflow-syntax, check-npm-cache-config

fix: Resolve GitHub Actions git tag permission issue
  .github/workflows/container-registry.yml
Due: check-workflow-syntax, check-npm-cache-config

fix: Improve GitHub Actions tag existence checking to prevent duplicate tag errors
  .github/workflows/container-registry.yml
Due: check-workflow-syntax, check-npm-cache-config

fix: resolve CWE security vulnerabilities with open-source libraries
  SECURITY.md
  release/containers/server/.openhands/TASKS.md
  release/containers/server/middleware/security.js
  release/containers/server/package.json
  release/containers/server/server.js
  release/containers/web/package.json
  release/containers/web/src/components/GuacamoleClient.js
  release/containers/web/src/index.js
Due: cspell

fix: resolve CodeQL security vulnerabilities with enhanced libraries
  .cspell.json
  .openhands/TASKS.md
  SECURITY.md
  release/containers/server/.openhands/TASKS.md
  release/containers/server/middleware/security.js
  release/containers/server/package.json
Due: cspell

docs: update specifications with comprehensive security library documentation
  MCP_SPECIFICATION.md
  SPECIFICATION.md
Due: cspell

fix: improve setup script robustness and error handling
  SETUP_TROUBLESHOOTING.md
  host-setup-kasmvnc.sh
Due: cspell

fix: resolve Docker build issues and add registry image support
  host-setup-kasmvnc.sh
  infra/Dockerfile.web
  infra/kasmvnc-compose-registry.yml
Due: none

fix: remove Guacamole comparison language
  host-setup-kasmvnc.sh
Due: none

feat: modernize UI with accessible design and fix SELinux issues
  .openhands/TASKS.md
  cspell.json
  host-setup-kasmvnc.sh
  infra/web/src/styles/main.css
Due: cspell

chore(flatpak): add threading import for potential GTK thread helpers\n\nCo-authored-by: openhands <openhands@all-hands.dev>
  flatpak/clipboard-bridge/clipboard-bridge.py
Due: none

chore: username mapping, README cleanup, flatpak CI, timeouts, clipboard bridge startup
  .github/workflows/ci-cd.yml
  .github/workflows/cleanup-containers.yml
  .github/workflows/cold-storage/build-appimage.yml
  .github/workflows/container-registry.yml
  .github/workflows/flatpak-clipboard-bridge.yml
  .github/workflows/release-package.yml
  .openhands/TASKS.md
  DEPLOYMENT-old.md
  DEPLOYMENT.md
  DEPRECATION_NOTICE.md
  MCP_SPECIFICATION.md
  PORT_CONFIGURATION.md
  README-old.md
  README.md
  chore-web-only-alignment.patch
  docs/DEVELOPMENT_SETUP.md
  docs/GEARLEVER_INTEGRATION.md
  docs/MULTI_MONITOR_SETUP.md
  flatpak/clipboard-bridge/clipboard-bridge.py
  flatpak/clipboard-bridge/org.overlaycompanion.ClipboardBridge.desktop
  host-setup-kasmvnc.sh
  host-setup.sh
  install.sh
  release/containers/Dockerfile.mcp-server
  release/containers/web/src/index.js
  scripts/build-appimage.sh
  src/Program.cs
  src/Services/UpdateService.cs
  temp/AI_RECOVERY_GUIDE.md
  temp/RECOVERY_README.md
  vm-setup-kasmvnc.sh
  vm-setup.sh
Due: dotnet-format, check-build-scripts-executable, check-workflow-syntax, check-npm-cache-config, cspell

chore: finalize clipboard bridge logging cleanup
  .openhands/TASKS.md
  flatpak/clipboard-bridge/clipboard-bridge.py
Due: cspell
